<ul>
  <% @files.each do |file| %>
    <li>
      <a href="/<%= file %>"><%= file %></a>
      <a href="/<%= file %>/edit">edit</a>
      <form class="inline" action="/<%= file %>/destroy" method="post">
        <button type="submit">delete</button>
      </form>
      <form action="/<%= file %>/duplicate" class="inline" method="post">
        <button type="submit">duplicate</button>
      </form>
    </li>
  <% end %>
</ul>
<p><a href="/new">New Document</a></p>
<% if session[:user] %>
  <form action="/users/signout" method="post">
    <p class="user-status">Signed in as <%= session[:user] %>
      <button type="submit">Sign Out</button>
    </p>
  </form>
<% else %>
  <p class="user-status"><a href="/users/signin">Sign In</a></p>
  <p class="user-status"><a href="/users/signup">Sign Up</a></p>
<% end %>
